body {
  background-color: white;
  font-family: arial;
  font-size: 14px;
  background-image: url("images/outer-space.jpg");
  /* background-repeat: no-repeat; */
}

h1{
  color: red;
  font-size: 24px;
}
/* no idea why my image wouldn't resize */
.banner {
  height: 350px;
  background-image: url("images/raven1.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: darkblue;
  background-image: url("images/tabbys-star.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
